/* Button Component Styles */
.onpe-button {
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  min-width: 200px;
  border: none;
}

.onpe-button:disabled {
  cursor: default;
  background-color: var(--onpe-ui-gray) !important;
}

/* Button Sizes */
.onpe-button.onpe-button-small {
  height: 2.5rem; /* h-10 */
  font-size: 0.875rem; /* text-sm */
}

.onpe-button.onpe-button-normal {
  height: 3rem; /* h-12 */
  font-size: 1rem; /* text-base */
}

.onpe-button.onpe-button-large {
  height: 3.5rem; /* h-14 */
  font-size: 1.125rem; /* text-lg */
}

/* Button Colors */
.onpe-button.onpe-button-blue {
  background-color: var(--onpe-ui-blue);
}

.onpe-button.onpe-button-skyblue {
  background-color: var(--onpe-ui-skyblue);
}

.onpe-button.onpe-button-skyblue-light {
  background-color: var(--onpe-ui-skyblue-light);
}

.onpe-button.onpe-button-yellow {
  background-color: var(--onpe-ui-yellow);
}

.onpe-button.onpe-button-light-skyblue {
  background-color: var(--onpe-ui-light-skyblue);
}

.onpe-button.onpe-button-gray {
  background-color: var(--onpe-ui-gray);
}

.onpe-button.onpe-button-gray-light {
  background-color: var(--onpe-ui-gray-light);
}

.onpe-button.onpe-button-gray-extra-light {
  background-color: var(--onpe-ui-gray-extra-light);
}

.onpe-button.onpe-button-red {
  background-color: var(--onpe-ui-red);
}

.onpe-button.onpe-button-dark-gray {
  background-color: var(--onpe-ui-dark-gray);
}

.onpe-button.onpe-button-green {
  background-color: var(--onpe-ui-green);
}

.onpe-button.onpe-button-yellow-light {
  background-color: var(--onpe-ui-yellow-light);
}

.onpe-button.onpe-button-primary {
  background-color: var(--onpe-ui-blue);
} 
