/* Estilos ONPE UI - CSS puro que funciona en cualquier proyecto */

@import "tailwindcss";

@config {
  --color-onpe-ui-blue: #003770;
  --color-onpe-ui-skyblue: #0073cf;
  --color-onpe-ui-skyblue-light: #69b2e8;
  --color-onpe-ui-yellow: #ffb81c;
  --color-onpe-ui-light-skyblue: #aaeff6;
  --color-onpe-ui-gray: #bcbcbc;
  --color-onpe-ui-gray-light: #bdbdbd;
  --color-onpe-ui-gray-extra-light: #f2f2f2;
  --color-onpe-ui-red: #e3002b;
  --color-onpe-ui-dark-gray: #4f4f4f;
  --color-onpe-ui-green: #76bd43;
  --color-onpe-ui-yellow-light: #FFF1D2;
}

:root {
  --blue: #003770;
  --skyblue: #0073cf;
  --skyblue-light: #69b2e8;
  --yellow: #ffb81c;
  --light-skyblue: #aaeff6;
  --gray: #bcbcbc;
  --gray-light: #bdbdbd;
  --gray-extra-light: #f2f2f2;
  --red: #e3002b;
  --dark-gray: #4f4f4f;
  --green: #76bd43;
  --yellow-light: #FFF1D2;
}



button{
  cursor: pointer;
}


@keyframes fastBlink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.fast-blink {
  animation: fastBlink 0.8s ease-in-out infinite;
}