/* Estilos ONPE UI - Versión para desarrollo (Storybook) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

/* Variables CSS con prefijo único para evitar conflictos */
:root {
  --onpe-ui-blue: #003770;
  --onpe-ui-skyblue: #0073cf;
  --onpe-ui-skyblue-light: #69b2e8;
  --onpe-ui-yellow: #ffb81c;
  --onpe-ui-light-skyblue: #aaeff6;
  --onpe-ui-gray: #bcbcbc;
  --onpe-ui-gray-light: #bdbdbd;
  --onpe-ui-gray-extra-light: #f2f2f2;
  --onpe-ui-red: #e3002b;
  --onpe-ui-dark-gray: #4f4f4f;
  --onpe-ui-green: #76bd43;
  --onpe-ui-yellow-light: #FFF1D2;
}

@theme {
  --color-onpe-ui-blue: #003770;
  --color-onpe-ui-skyblue: #0073cf;
  --color-onpe-ui-skyblue-light: #69b2e8;
  --color-onpe-ui-yellow: #ffb81c;
  --color-onpe-ui-light-skyblue: #aaeff6;
  --color-onpe-ui-gray: #bcbcbc;
  --color-onpe-ui-gray-light: #bdbdbd;
  --color-onpe-ui-gray-extra-light: #f2f2f2;
  --color-onpe-ui-red: #e3002b;
  --color-onpe-ui-dark-gray: #4f4f4f;
  --color-onpe-ui-green: #76bd43;
  --color-onpe-ui-yellow-light: #FFF1D2;
}

/* Contenedor scoped para todos los componentes ONPE */
.onpe-ui-container {
  /* Reset básico solo para nuestros componentes */
  box-sizing: border-box;
}

.onpe-ui-container *,
.onpe-ui-container *::before,
.onpe-ui-container *::after {
  box-sizing: border-box;
}

/* Estilos específicos para componentes ONPE UI */
.onpe-ui-container button {
  cursor: pointer;
}

@keyframes onpe-fast-blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.onpe-fast-blink {
  animation: onpe-fast-blink 0.8s ease-in-out infinite;
}


.font-consolas {
  font-family: 'Consolas', monospace;
  font-weight: 900;
}


  html {
    font-family: 'Poppins', system-ui, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  button {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }